.night-mode {
    background-color: $dark;
    color: $light;

    &,.navbar,.navbar .navbar-brand,.navbar .btn {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    .navbar {
        background-color: $light-gray;
    
        .navbar-brand {
            color: $dark;
        }
        .btn {
            border-color: $dark;
            color: $dark;
        }
    }
}
